

span {
    font-family: 'Great Vibes', cursive;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Tiro Tamil', serif;
}

.landing{
    margin-left: 0px;
    padding: 20px;
}

#home{
    background: url("/static/photos/b1.webp") 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 100px 0 0 0;   
}
#dark{
    color: rgb(71, 71, 64);
}

#gal{
    background: url("/static/photos/bb3.jpeg") ;
    color: white;
    font-weight: bolder;
}
#lin{
    color:black
}



