{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
<div class='container'>
    <img src="../static/photos/bb1.jpeg" style="height:300px;width:300px">
</div>

<div class='container'>
    <h1>About Us</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis sagittis nisi, ac feugiat nibh hendrerit nec. Cras lobortis quam sit amet dui varius sollicitudin ac et eros. Nullam non luctus felis. Praesent vehicula neque sit amet orci porttitor gravida. Ut quis orci augue. Aenean ut condimentum ligula. Integer augue lorem, fermentum ut ligula sit amet, pellentesque pellentesque lorem. Nulla id auctor ligula. Cras varius blandit lacus sit amet cursus. Pellentesque luctus finibus luctus. Nullam dapibus orci id auctor efficitur.</p>

</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
          
            
            
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/"> Elizabeth Adhiambo Onyango</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
{% endblock %}