{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
<div class="container"id='gal' >
  <div class='container ' >
      <img class="mt-3"src="../static/photos/bb1.jpeg" style="height:300px;width:300px margin-top:3px">
  </div>

  <div class='container'>
      <h1>About Us</h1>
      <br>
      <p>* A user can view different photos that interest them.
        * A user can click on a single photo to expand it and also view the details of the photo. The expande photo is in a modal. A user can also click the photo on the modal and get directed to a different page with a landscape and portrait version of the photo.
        * A user can search for different categories of photos.
        * A can copy a link to the photo to share with my friends.
        * A user can view photos based on the location they were taken.
        </p>

  </div>
  
  <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3">

      <!-- Footer Elements -->
      <div class="container">
    
        <!-- Grid row-->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
    
            
              
              
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
      </div>
      <!-- Footer Elements -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="/"> Elizabeth Adhiambo Onyango</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
</div>
{% endblock %}