

{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}


 <body>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#"></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">LizGalleria Images</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <form class="form" role="search" action="">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="&#xf3ee; Search by category" name="image_category">
              <br>
             </div>

             <small>Trending : Animals, Art</small>

          </form>

      </div>
    </div>
  </header>

  

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <p class="display-4 fst-italic">Liz<span>Galleria</span></p>
      <p class="lead my-3">Here's lizGalleria, You can view images in the following dimensions: Square (1000X1000),
      Landscape(2878X1618) and Tall(1618X2878).</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

</main>

<p>View images</p>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% if images|length > 0 %}
      {% for image in images %}


      







       <div class="col">
            <div class="card shadow-sm">
                
            
            
          
          <img src="{{image.landImage.url}}" alt="">

          <div class="card-body">
              <div class="btn-group">
                  <a href="{% url 'image' category_name=image.image_category.name image_id=image.id%}"><button type="button" class="btn btn-sm btn-outline-secondary">Image Details</button></a>
                </div>
                      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}">
              Click to view modal
          </button>
          <!--Bootstrap modal -->
          <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1"
              role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <!-- Modal heading -->
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                              LizGalleria
                          </h5>
                          <button type="button" class="close"
                              data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">
                                  ×
                              </span>
                          </button>
                      </div>
                      <!-- Modal body with image -->
                      <div class="modal-body">
                        <a href="{% url 'image' category_name=image.image_category.name image_id=image.id%}">
                        <img src="{{image.landImage.url}}"class="img-thumbnail"></a>
                        <p>location:{{image.image_location.name}}</p>
                        <br>

                        <p>category:{{image.image_category.name}}</p>
                        <h1>description</h1>
                        <p>{{image.description}}</p>
                    </div>
                      
                </div>
            </div>
        </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <small class="text-muted">{{image.date_created|date}}</small>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
      {% else %}
      <h2>No Images Uploaded for this category</h2>
      {% endif %}
    </div>

  </div>   
  
{% endblock %}