

{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}


 <body>
  <div class="container">
    
     
    <div class="nav-scroller ">
      <nav class="nav d-flex justify-content-between">
        Filter images based on location:
        <a id="lin" href="{% url 'gallery' %}">All Images</a>

        {% for location in locations %}
        <a id="lin"class="p-2 link-dark" href="{% url 'gallery' %}?location={{location.name}}">{{location.name}}</a>
        {% endfor %}

      </nav>
    </div>
  </div>

    <div class="container" id="gal"> 
      <div class="p-4 p-md-5 mb-4  rounded ">
        <div class="row">
          <div class="col-md-6 px-0" >
            <p class="display-4 fst-italic">Liz<span>Galleria</span></p>
            <p class="lead my-3">Here's lizGalleria, You can view images in the following dimensions:
            Landscape(2878X1618) and Tall(1618X2878).</p>
            <p class="lead mb-0"><a href="{% url 'gallery-about' %}" class="text-white fw-bold">Continue reading...</a></p>
          </div>
      
          <div class="col-6 d-flex justify-content-end align-items-center">
            <form class="form" role="search" action="{% url 'search_image' %}">

                <div class="input-group" style="width:500px">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category...art, books, animals" name="image_category">
                  <br>
                </div>

                <h6>Categories : Animals, Art,books</h6>

              
              
              
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    


<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#"></a>
      </div>
      
      
    </div>
  </header>

  


  



<h2 style="text-align:center">View images</h2>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if images|length > 0 %}
        {% for image in images %}
      <div class="col">
        <div class="card shadow-sm">          
               <img src="{{image.landImage.url}}" data-toggle="modal"
              data-target="#exampleModal{{ forloop.counter }}">
          <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1"
              role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content"style="width:700px" height="500px">
                      <div class="modal-header">
                          <!-- w-100 class so that header
                      div covers 100% width of parent div -->
                          <h5 class="modal-title w-100"
                              id="exampleModalLabel">
                              LizGalleria :{{image.name}}
                              <h5>click image to view different sizes<h5>
                          </h5>
                          <button type="button" class="close"
                              data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">
                                  ×
                              </span>
                          </button>
                      </div>
                      <!--Modal body with image-->
                <div class="modal-body" >
                  <a href="{% url 'image' category_name=image.image_category.name image_id=image.id%}">
                  <img src="{{image.landImage.url}}"style="height:350px"></a>
                  <p>location:{{image.image_location.name}}</p>
                        <br>

                        <p>category:{{image.image_category.name}}</p>
                        <h1>description</h1>
                        <p>{{image.description}}</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">
                      Close
                  </button>
                  <button type="button" class="btn btn-secondary copy-btn"
                      data-hex="{%url 'gallery'%}{{image.landImage.url}}">
                      Copy
                  </button>
              </div>
          </div>
      </div>
    </div>
    
  </div>
      
    </div>{% endfor %}
    {% else %}
    <h2>No Images Uploaded for this category/location</h2>
    {% endif %}

  </div> 
  
</div> 
{% endblock %}