{%extends 'base.html'%}
{% block content %}
{{block.super}}
<!-- Image header -->
<header class="landing" id="home">
   <div class="container">

    
        <div>
           <h2>Welcome to  <span class="w3-tag">Liz Galleria</span></h2>
            <h3>where </h3>
            <h2>Imagination <span>meets</span> You</h2>
            <div>
            <a class="nav-link" href="{% url 'gallery' %}">
              <button type="button" class="btn btn-outline-secondary">Visit Gallery</button>
            </a>
        </div>
    </div>
</header>

{% endblock %}