{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        <h2>The images are located in {{location.name}}</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                  <br>
                 </div>
                 <small>Trending searches: fashion, travel</small>
              </form>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
          {% for image in images %}


       <div class="col">
            <div class="card shadow-sm">
                
            
            
          
          <img src="{{image.landImage.url}}" alt="">

          <div class="card-body">
              <div class="btn-group">
                  <a href="{% url 'image' category_name=image.image_category.name image_id=image.id%}"><button type="button" class="btn btn-sm btn-outline-secondary">Image Details</button></a>
                </div>
                      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}">
              Click to view modal
          </button>
          <!--Bootstrap modal -->
          <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1"
              role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <!-- Modal heading -->
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                              LizGalleria
                          </h5>
                          <button type="button" class="close"
                              data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">
                                  ×
                              </span>
                          </button>
                      </div>
                      <!-- Modal body with image -->
                      <div class="modal-body">
                        <a href="{% url 'image' category_name=image.image_category.name image_id=image.id%}">
                        <img src="{{image.landImage.url}}"class="img-thumbnail"></a>
                        <p>location:{{image.image_location.name}}</p>
                        <br>

                        <p>category:{{image.image_category.name}}</p>
                        <h1>description</h1>
                        <p>{{image.description}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="copy('img{{image.id}}')">Copy Link</button>
                        <!-- <input class="form-control" type="text" value="{{image.image_link}}" id="link">
                       <a onclick="myFunction()"><button type="button"  class="btn btn-primary">Copy Link</button></a> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                      
                </div>
            </div>
        </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <small class="text-muted">{{image.date_created|date}}</small>
                  </div>
                </div>
              </div>
            </div>
      
        {% empty %}
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="{% static 'images/sorry.png' %}" alt="" class = "oops">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> Sorry no image for {{message}} category. Images are comming soon.</h2>
        </div>
    </div>
    {% endfor %}

    
</div>

{% endblock %}